<center><H1>MediaScanner</H1>


<p>
MediaScanner is a new application and growing idea that will enable the downloading from the hard copy, bought in­store, CDs/DVDs directly to your mobile device and then can be transferred to your computer.There are very few laptops now that contain a CD/DVD drive.This is problematic when you want to watch a DVD, or download a CD. The scanning bar codes and mobile app. will

help those who still recognize the value of hard­copy CDs and find them functional for gift­giving and

enjoy the more personal experience when purchasing a hard copy CD or DVD. DVD's especially are

transferable and are often purchased hard­copy because of their mobility after purchase. However, it

would still be useful to have the option to download them onto a computer or iPad. This is where

iScanner can help! Scan the bar code placed inside of the packaging and the contents will be

downloaded right to your mobile device! </p></center>