<div class="page-header">
  <h1><small>“I like buying the hard copy CDs. They come with more and I can share them and give them as gifts
much easier” ~ Bates Student</small></h1>
</div>


 <div class="jumbotron"><p><h3> Summary: </h3>
MediaScanner is a new application and growing idea that will enable the downloading from the hard copy, bought in­store, CDs/DVDs directly to your mobile device or tablet and then can be transferred to your computer.There are very few laptops now that contain a CD/DVD drive.This is problematic when you want to watch a DVD, or download a CD. The scanning bar codes and mobile app. will

help those who still recognize the value of hard­copy CDs and find them functional for gift­giving and

enjoy the more personal experience when purchasing a hard copy CD or DVD. DVD's especially are

transferable and are often purchased hard­copy because of their mobility after purchase. However, it

would still be useful to have the option to download them onto a computer or iPad. This is where

MediaScanner can help! Scan the bar code placed inside of the packaging and the contents will be

downloaded right to your mobile device or tablet! </p>

<div class="row">
  <div class="col-md-4">

  	<h3>Product Goals:</h3> 
 <ul>
      <li>Design and build the ﬁrst version of MediaScanner</li>
      <li>While the MediaScanner is getting started and not all DVDs/CDs have the bar codes, the application will have a feature that allows one to look up what CDs/DVDs have the bar code.</li>
      <li>Design a free application for tablets and smart phones that incorporates the ability to scan bar codes that are recognized by the application</li>
      <li>The application would recognize bar codes placed within CDs and DVDs</li>
      <li>Work with the music/movie industry and CD and DVD packaging centers to establish a new packaging system for all CDs and DVDs</li>
      <li>All packages will need to have the bar code that matches with the content of the disc it is accompanied by</li>
      <li>Integrate a payment system</li>
    </ul>
</div>


  

  </div>
 

