

<H1>WE PAY CASH FOR YOUR GENTLY USED CHILDREN'S CLOTHING, TOYS AND BABY EQUIPMENT.</H1>

<br>
<br>
<br>

<p>
1. Walk in with your items anytime Monday thru Saturday 9:30 AM to 4:00 PM. <br>
2. Shop around the store or run an errand while the buyer reviews your items. <br> 
3. The buyer will select items we can resell based on desirability of the brands,condition, safety and age of the items. <br>
4. The buyer will then pay cash for the items we are interested in. Things we feel we can not resell will be returned to you, or you can leave them for donation to Planet Aid.</p>