<center>
<div class="jumbotron-primary">

  <div class="jumbotron">
  	<h1>MediaScanner</h1>
  <h3>The newest application in downloading CDs/DVDs directly to your mobile device via a simple scanning of a bar code provided with purchase of the CD or DVD!</h3>

<br>
<br>
<img class="img-responsive" src="<%= image_path "http://www.colmexpro.com/userfiles/image/IpadExpertCode.png"%>"/>

<p>download mobile app</p>

<br>
<br>
  </button>
    <a class="btn btn-inverse btn-lg" role="button" href="/about">Learn more</a>
 <a class="btn btn-inverse btn-lg" role="button" href="/users/sign_in">Sign In</a>

  

</div>
</center>