
<div class="jumbotron">
  <h1>Lots For Tots </h1>
<p>Our mission is to  help make parenting more affordable by offering the best resale and new products at reasonable prices.
<br>
<br>
This is a place to sell your used clothes and toys </p>
   
  </p>

</button>
    <a class="btn btn-primary btn-lg" role="button" href="/about">Learn more</a>
    <a class="btn btn-danger btn-lg" role="button" href="http://www.lotsfortotsne.com/contactus.html">Contact Us</a>
  </p>
</div>