
<div class="jumbotron">
  <h1>Lots For Tots </h1>
<p>Our mission is to  help make parenting more affordable by offering the best resale and new products at reasonable prices.
<br>
This is a place to sell your used clothes and toys </p>
   
  </p>
</div>

</button>

