
<div class="container">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h1>Sign up</h1>
  </div>

  <div class="panel-body">
    <form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="hjwuf5ZJ+s6oOD5ghcfwg0htTZxeDkGjXHdBGmTAwqU=" /></div>
      

      <div class="form-group">
        <label for="user_email">Email</label>
        <input autofocus="autofocus" class="form-control" id="user_email" name="user[email]" type="email" value="" />
      </div>

      <div class="form-group">
        <label for="user_password">Password</label>
        <input class="form-control" id="user_password" name="user[password]" type="password" />
      </div>

      <div class="form-group">
        <input class="btn btn-primary" name="commit" type="submit" value="Sign up" />
      </div>
</form>  </div>

  <div class="panel-footer">
      <a href="/signin">Sign in</a><br />






  </div>
</div>
</div>

</body>

</html>